<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AG5S"
        tools:targetApi="31">
        <activity
            android:name=".HistorySuppliesOrder"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryCashOut"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryCashInOrders"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryCashOutCosts"
            android:exported="false" />
        <activity
            android:name=".Activity.HistoryCashIn"
            android:exported="false" />
        <activity
            android:name=".Activity.CashierOrderDetailCancel"
            android:exported="false" />
        <activity
            android:name=".Activity.CashierOrderDetailComplete"
            android:exported="false" />
        <activity
            android:name=".Activity.CartSuppliesItem"
            android:exported="false" />
        <activity
            android:name=".Activity.SuppliesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CostActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CashierOrderDetail"
            android:exported="false" />
        <activity
            android:name=".Activity.CashierAdditionalFood"
            android:exported="false" />
        <activity
            android:name=".Activity.CashierActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>